<ul class="mb-0">
  <li><a target="_blank" rel="noopener" href="https://www.tagesschau.de">Sanierung & Förderung im Fokus</a></li>
  <li><a target="_blank" rel="noopener" href="https://www.heise.de">Energie: Wärmepumpe – Faktencheck</a></li>
  <li><a target="_blank" rel="noopener" href="https://www.cleanenergywire.org">EEG-News kompakt</a></li>
  <li><a target="_blank" rel="noopener" href="https://www.handelsblatt.com">Zinsen & Finanzierung kurz erklärt</a></li>
  <li><a target="_blank" rel="noopener" href="https://www.tagesschau.de">Mieter: Rechte & Pflichten</a></li>
</ul>
