<ul class="mb-0">
  <li><a href="#" onclick="openByTitle('Finanzen');return false;">Sanierung &amp; Förderung im Fokus</a></li>
  <li><a href="#" onclick="openByTitle('Smart-Home Spartipps');return false;">Energie: Wärmepumpe – Faktencheck</a></li>
  <li><a href="#" onclick="openByTitle('News &amp; Trends');return false;">EEG-News kompakt</a></li>
  <li><a href="#" onclick="openByTitle('Finanzen');return false;">Zinsen &amp; Finanzierung kurz erklärt</a></li>
  <li><a href="#" onclick="openByTitle('Mietrecht kompakt');return false;">Mieter: Rechte &amp; Pflichten</a></li>
</ul>
