<ul class="mb-0">
  <li><a target="_self" href="/themen/sanierung-foerderung.html">Sanierung &amp; Förderung im Fokus</a></li>
  <li><a target="_self" href="/themen/waermepumpe.html">Energie: Wärmepumpe — Faktencheck</a></li>
  <li><a target="_self" href="/themen/eeg-kompakt.html">EEG-News kompakt (Eigenstrom)</a></li>
  <li><a target="_self" href="/themen/zins-und-finanzierung.html">Zinsen &amp; Finanzierung kurz erklärt</a></li>
  <li><a target="_self" href="/themen/mieter-rechte.html">Mieter: Rechte &amp; Pflichten</a></li>
</ul>
